
@{
    ViewBag.Title = "Movie List";

    // Không cần cái này nếu dùng _Layout.cshtml vì _ViewStart.cshtml đã định nghĩa rồi.
    //Có thể set Layout khác hoặc không dùng thì để null
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;

}

<h2>My Movie List</h2>

<p>Hello from our View Template</p>

